/* Sticky footer styles
-------------------------------------------------- */

  .footer {
    width: 100%;
    line-height: 20px; /* Vertically center the text there */
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .container {
    width: auto;
    padding: 0 15px;
  }
  