<app-navbar></app-navbar>
    <footer class="footer">
      <div class="container">
        <address>
            <strong>Imprint</strong>
            <br><br>
            Nick Schroeder und Maxime Fritzsch<br>
            Allmandring 24A<br>
            70569 Stuttgart<br>
            <abbr title="phone number">phone-number: </abbr> +49 1578 6141633<br>
            <abbr title="email-address">Email: </abbr> <a href="mailto:maxime.fritzsch@gmx.net">Maxime.fritzsch@gmx.net</a>
          </address>
      </div>
    </footer>